/article_4.pdf
/article_4.synctex.gz
/article_4.tex
/deloitteDoc.bib
/RSC_.bib
/structure.tex
/GroupReport.synctex.gz
GroupReport.aux
GroupReport.bbl
GroupReport.blg
GroupReport.fdb_latexmk
GroupReport.fls
GroupReport.log
GroupReport.out
GroupReport.synctex.gz
GroupReport.toc
GroupReport.synctex.gz
GroupReport.synctex.gz
